body {
    font-family: 'Montserrat', sans-serif;
}

#annotation-parent {
    font-size: 0.35rem;
}

.annotation-note-label {
    font-size: 0.25rem !important;
}

.side-panel {
    position: fixed;
    margin: 10px;
    text-align: left;
    color: #3B3B3B;
    padding: 10px;
    font-size: 0.9rem;
    list-style: outside none none;
}

.line-item {
    display: flex;
    flex-direction: row;
}

.line-rank {
    font-weight: bold;
    order: 1;
    padding-right: 10px;
    width: 20px;
    align-self: flex-end;
}

.line-title {
    order: 2;
    align-self: flex-start;
}